<div class="profile clearfix">
  <div class="profile_pic">
    <img src="../../../assets/images/genericavatar.png" alt="..." class="img-circle profile_img">
  </div>
  <div class="profile_info">
    <span>Welcome,</span>
    <h2>John Doe</h2>
  </div>
</div>


<div class="row affix-row">
  <div class="col-sm-3 col-md-2 affix-sidebar">
    <div class="sidebar-nav">
      <div class="navbar" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav" id="sidenav01">
            <li class="active">
             
              <div class="collapse" id="toggleDemo0" style="height: 0px;">
                <ul class="nav nav-list">
                  <li>
                    <a href="#">ProfileSubMenu1</a>
                  </li>
                  <li>
                    <a href="#">ProfileSubMenu2</a>
                  </li>
                  <li>
                    <a href="#">ProfileSubMenu3</a>
                  </li>
                </ul>
              </div>
            </li>
            <li  class="active">
              <div data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01" class="collapsed menu-links">
                <span class="fa fa-home"></span> Home
                <span class="caret pull-right"></span>
              </div>
              <div class="collapse wire" id="toggleDemo" style="height: 0px;">
                <ul class="nav nav-list">
                  <li>
                    <a href="/dashboard">Dashboard</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div href="#" data-toggle="collapse" data-target="#toggleDemo2" data-parent="#sidenav01" class="collapsed menu-links">
                <span class="glyphicon glyphicon-inbox"></span> Submenu 2
                <span class="caret pull-right"></span>
              </div>
              <div class="collapse wire" id="toggleDemo2" style="height: 0px;">
                <ul class="nav nav-list">
                  <li>
                    <a href="#">Submenu2.1</a>
                  </li>
                  <li>
                    <a href="#">Submenu2.2</a>
                  </li>
                  <li>
                    <a href="#">Submenu2.3</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-lock"></span> Normalmenu</a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-calendar"></span> WithBadges
                <span class="badge pull-right">42</span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="glyphicon glyphicon-cog"></span> PreferencesMenu</a>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
  
</div>
