a {
    cursor: pointer !important;
}

.link {
    cursor: pointer;
    color: white;
    width: 60px;
    height: 60px;
    background-color: #a1b1c0; // border-left: 1px solid #c6d0da;
    border-radius: 0%;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.outline-none {
    outline: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
}

.text-center {
    text-align: center;
}

.font-white {
    color: white !important;
}

.spacer {
    flex: 1 1 auto;
}

sub {
    color: darkorange!important;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    font-size: 13px!important;
    font-family: inherit
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em
}

table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em
}

table td,
table th {
    padding: 12px;
    text-align: left;
    background-color: #ffffff;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase
}

@media screen and (max-width:767px) {
    table {
        border: 0
    }
    table caption {
        font-size: 1.3em
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        display: block;
        margin-bottom: .625em;
        border: none;
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
        -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24)
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right
    }
    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: 700;
        text-transform: uppercase
    }
    table td:last-child {
        border-bottom: 0
    }
}

infinite-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    background: rgba(255, 255, 255, .1);
}

.margin8 {
    margin: 8px;
}

.padding10 {
    padding: 10px;
}

.padding15 {
    padding: 15px;
}

.padding20 {
    padding: 20px;
}

.non-active-card {
    opacity: 0.7; // background-image:url("http://images.clipartpanda.com/warning-clipart-4T9oMXy8c.jpeg") !important;
    // background-repeat: no-repeat !important;
    // background-size: 100% 100% !important;
    // background-color: grey !important;
    color: grey !important;
    //cursor: not-allowed !important;
    background-color: #ccc !important;
}
agm-map {
    height: 80vh;
}

::ng-deep .mat-tab-label{
    text-transform: uppercase;
    color:#4A90E2;
    font-weight: bold;
}

.form-group{
    margin-bottom: 0px;
}

.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
  }
  .search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
  }
  .search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
  }
  .search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
  }
  .search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
  }
  .search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
  }
  .search-form .form-group:hover,
  .search-form .form-group.hover {
    width: 100%;
    border-radius: 4px 25px 25px 4px;
  }
  .search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
  }
  