.card{
    background-color: #fff !important;
}

// .mat-input-infix .mat-form-field-infix{

// }

.mat-form-field-infix {
    padding: 0.4em 0;
    border-top: 0.84375em solid transparent;
}

.form{
    width:80%;
    margin: auto;

}

.disabled {
    cursor: not-allowed !important;
}
